{% extends "layout.njk" %}

{% block header %}
<div class="grid-x">
<div class="cell">
<h1>{{ message }}</h1>
<h2>{{ error.status }}</h2>
</div>
</div>
<div class="grid-x">
<div class="cell small-6">
<h3>test left</h3>
</div>
<div class="cell small-6">
<h3>test right</h3>
</div>
</div>
{% endblock %}

{% block content %}
<pre>{{ error.stack }}</pre>
{% endblock %}
